# Dependencies
node_modules/

# Next.js
.next/
out/
.next/static/
.next/cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store

# Misc
coverage/
*.swp
*.swo

# Editor
.vscode/
.idea/

# Build artifacts
*.tgz